{
	"TARGET_ENVIRONMENT": "DEVELOPMENT",
	"_comment": "LOGGING LEVEL: DEBUG = 1, INFO = 2, WARN = 3, ERROR = 4",
	"LOGGING_LEVEL": "1",
	"DATAPHILE_ENDPOINTS": {
		"12345": {
			"wsdlUrl": "https://dpapippd.manulife.com:8443/wsappd/wsappd/wsdl?targetURI=urn:msi-org",
			"username": "msapippd",
			"password":  "Manulife1!"
		},		
		"7585": {
			"wsdlUrl": "https://dpapippd.manulife.com:8443/wsappd/wsappd/wsdl?targetURI=urn:msi-org",
			"username": "msapippd",
			"password":  "Manulife1!"
		},
		"7584": {
			"wsdlUrl": "https://dpapippd.manulife.com:8443/wsauat/wsauat/wsdl?targetURI=urn:msi-org",
			"username": "msapiuat",
			"password":  "Manulife1!"
		}
	},
	"API_SECURITY": [
		{"x-api-id": "custport", "x-api-secret": "dad3180a-fbc4-4cb5-a150-87ea49b16982"}
	]
}